body {
	padding-top: 52px;
	background-color: #eee;
	font-family: 'Raleway', sans-serif;
}
#cover{
	width:100vw;
	height:100vh;
	background-color:#333;
	opacity:.3;
	position:fixed;
	left:0px;
	top:0px;
	z-index:-1;
}

#popUp{
	background-color:white;
	width:70%;
	margin:auto;
	z-index:2;
	border-radius:15%;
	position:absoulute;
}
#back{
	position:absolute;
	z-index:-1;
}
.result{
	width:90%;
	margin:auto;
	padding:10px;
}
/* Home Page */

.index p {
	text-align: center;
}

.index h1 {
	text-align: center;
	color: blue;
	font-size: 40px;
}

.homeBox {
	background-color: grey;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	padding: 15px 10px;
	margin-bottom: 20px;
	border-radius: 15px;
}

#tutorialsStart {
	margin: 0 auto;
	text-align: center;
	background: url("imgs/happy.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 90%;
	padding-top: 10em;
	padding-bottom: 10em;
	height: 325px;
}

#gotoglossary {
	margin: 0 auto;
	text-align: center;
	width: 90%;
	padding-bottom: 5em;
	height: 200px;
}

#gotoglossary h2 {
	padding: 40px;
}
/* Tutorial Next Buttons *

#toQuiz{
	margin: 0 auto;
	text-align: center;
	height: 100px;
	width: 30%;
}
/*
#toQuiz #quizLink, #fiveAnswer{
	margin: auto;
	border: 3px solid white;
	overflow: hidden;
	background-color: #66B9BF;
	color: #fff;
	font-family: 'Monsterrat', sans-serif;
	font-size: 130%;
	text-decoration: none;
	border-radius: 150px;
	padding: 10px 20px;
	
}

/* Home page Buttons */

#tutorialsStart #tutorialsLink,
#gotoglossary #glossaryLink {
	margin: auto;
	border: 3px solid white;
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 30px;
	padding-bottom: 30px;
	overflow: hidden;
	background-color: #66B9BF;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 165%;
	text-decoration: none;
	border-radius: 600px;
	transition: all 0.3s ease-in-out;
}


/* Increase button size on hover */

#tutorialsStart #tutorialsLink:hover,
#gotoglossary #glossaryLink:hover {
	padding-left: 66px;
	padding-right: 66px;
	padding-top: 33px;
	padding-bottom: 33px;
	font-size: 181%;
	box-shadow: 0 2px 5px #999;
}

@media (max-width: 500px) {
	#tutorialsStart #tutorialsLink,
	#gotoglossary #glossaryLink {
		padding-left: 25px;
		padding-right: 25px;
		padding-top: 12px;
		padding-bottom: 12px;
		font-size: 130%;
	}
	#tutorialsStart #tutorialsLink:hover,
	#gotoglossary #glossaryLink:hover {
		padding-left: 25px;
		padding-right: 25px;
		padding-top: 12px;
		padding-bottom: 12px;
		font-size: 130%;
	}
}

/* Navbar */

.navbar-default {
	background-color: #07889B;
	position: fixed;
	top: 0;
	width: 100%;
	padding: 0;
	margin: 0;
	border: 0;
	border-radius: 0;
	box-shadow: 0 1px 5px #999;
}

.navbar-default .navbar-nav > li > a {
	color: #fff;
	transition: color .2s;
	font-family: 'Montserrat', sans-serif;
	font-size: 140%;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

.dropdown-menu {
	font-family: 'Montserrat', sans-serif;
}


/* Navbar active colors */

.active,
#active {
	background-color: #E37222;
	color: white !important;
}


/* Navbar hover colors */

.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav li a:hover {
	background-color: #66B9BF;
	color: #fff;
}

/* Tutorials Homepage Desktop */

#content {
	max-width: 750px;
	margin: auto;
}

.leftAlign {
	text-align: left;
}

.rightAlign {
	text-align: right;
}

/* Set mobile navbar not sticky */

@media (max-width: 767px) {
	body {
		padding-top: 0;
	}
	.navbar-default {
		position: relative;
	}
}


/* Tutorials home page */

#content>h1 {
	text-align: center;
}

@media(min-width:767px){
	.tut{
		width:50%;
		float:left;
	}
}

/* Mobile tutorials home pace */

@media (max-width: 767px) {
	#content {
		font-size: 5.3vw;
		width: 83vw;
		margin: auto;
		font-weight: bold;
	}
	.tut {
		margin: 3vw;
		margin-top: 0px;
		float: left;
		width: 34vw;
		height: 34vw;
		border-radius: 90%;
		border: 3px solid #07889B;
		text-align: center;
		background-color: #fff;
		line-height: 27vw;
		color: #07889B;
		box-shadow: 1px 3px 5px #999;
		text-decoration: none;
	}

	.tut p{
		display:none;
	}
}

.median {
	clear: both;
}


/* Quiz CSS */

.quiz {
	max-width: 1000px;
	margin: auto;
}

.quiz form {
	margin-left: 3vw;
}

.quiz>form>div {
	margin-left: 3vw;
	margin-left: 3vw;
}

.quiz>h2 {
	text-align: center;
}


/* Submit button */

.buttonHolder {
	text-align: center;
	height: 60px;
}

input[type=button], .circleButton a {
	border: 3px solid white;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #66B9BF;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 150%;
	text-decoration: none;
	border-radius: 600px;
	transition: all 0.3s ease-in-out;
}

/* Shadow, no grow on hover */
.circleButton a:hover {padding-left: 30px;
	padding-right: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 150%;
		box-shadow: 0 2px 5px #999
}

.circleButton .col-md-4 .col-sm-4{
	padding: 20px;
}

/* Grow on hover */
input[type=button]:hover,   {
	padding-left: 33px;
	padding-right: 33px;
	padding-top: 17px;
	padding-bottom: 17px;
	font-size: 165%;
	box-shadow: 0 2px 5px #999;
}


/* Title */

.navbar-default .navbar-brand {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 220%;
}

.you {
	color: #fff;
	transition: color .2s;
}

.nix {
	color: #05c226;
	transition: color .2s;
}

.navbar-default .navbar-brand:hover .you,
#logo:hover .you {
	color: #05c226;
}

.navbar-default .navbar-brand:hover .nix,
#logo:hover .nix {
	color: #fff;
}


/* Content */

.tutorial {
	padding-left: 10px;
	padding-right: 10px;
	max-width: 1000px;
	margin: auto;
}

.tutorial h1 {
	text-align: center;
}

.glossary {
	padding-left: 10px;
	padding-right: 10px;
	max-width: 1000px;
	margin: auto;
}

#search {
	text-align: center;
}
img {
	display: block;
	margin: auto;
	max-width: 900px;
	margin-bottom: 20px;
	margin-top: 20px;
	cursor: pointer;
	max-height: 800px;
	box-shadow: 0 5px 10px #999;
}

/* Hide tutorial answer  */

#hiddenA{
	display: none;
}

/* Resize images on mobile */

@media (max-width: 767px) {
	img {
		width: 100%;
	}
}


/*Terminal code */

.code {
	font-family: 'Ubuntu Mono', monospace;
	border-radius: 3px;
	border: 1px solid #d6d6d6;
	background-color: #333333;
	color: #fffafa;
	padding: 5px;
	padding-left: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}


/* Footer */

.footer {
	background-color: #333333;
	padding: 20px;
	padding-bottom: 0px;
	text-align: center;
	color: #fffafa;
}

.footer a {
	text-decoration: none;
	color: inherit;
}

.footer a:hover {
	text-decoration: underline;
}

.footer .col-md-6 {
	padding-bottom: 20px;
}


/* Phone links */

@media (max-width: 767px) {
	div .mobilePhoneLink {
		display: block;
	}
	div .desktopPhone {
		display: none;
	}
}

@media (min-width: 768px) {
	div .mobilePhoneLink {
		display: none;
	}
	div .desktopPhone {
		display: block;
	}
}


/* Push footer to bottom of page */

html {
	height: 100%;
}

body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.page-wrap {
	flex: 1;
	padding-bottom: 30px;
}


/* Divs for fullscreen images (fullscreen_photos.js)*/

#Fullscreen {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 21;
	background-image: url("");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#dimBackground {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: black;
	opacity: 0.6;
	z-index: 20;
	height: 100%;
	width: 100%;
	background-repeat: repeat;
}
