/* Navbar */
.navbar-default {
	background-color: #43c0f6;	
}

/* Title */
.navbar-default .navbar-brand {
	font-family: 'Montserrat', sans-serif;
	color: #ffffff;
	transition: color .2s;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #333;
}


/* Link */
.navbar-default .navbar-nav > li > a {
	color: #fff;
	transition: color .2s;
	font-family: 'Montserrat', sans-serif;
}

/*
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #333;
}

*/

/* Icon */
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

/* Disable hover color on small screens, change dropdown color */
@media (max-width: 768px) {
	.navbar-default .navbar-nav > li > a:hover,
	.navbar-default .navbar-nav > li > a:focus, 
	.navbar-default .navbar-nav .open .dropdown-menu>li>a,
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:active{
		color: #fff;
	}
}

.dropdown-menu {
	font-family: 'Raleway', sans-serif;
}

/* footer */
#bottom{
	position: fixed; 
	bottom: 0px; 
	left: 0px; 
	width: 100%;
	height:180px;
	padding:30px;/*Change height and padding to increase footer size*/
	background-color:#333333;
}
#bottomtext{
	margin:0px auto;
	padding:4px;
	text-align:center;
	color:#fffafa;
}


/*
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
*/