/* Navbar */
.navbar-default {
	background-color: #43c0f6;	
}

body {
	background-color: #f2eee2;
}

/* Title */
.navbar-default .navbar-brand {
	font-family: 'Montserrat', sans-serif;
	font-size: 220%;
	color: #f81b84;
	transition: color .2s;
	    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#you {
	color: #F5CE28;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #333;
}


/* Link */
.navbar-default .navbar-nav > li > a {
	color: #fff;
	transition: color .2s;
	font-family: 'Montserrat', sans-serif;
	font-size: 140%;
}

/*
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #333;
}

*/

/* Icon */
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

/* Disable hover color on small screens, change dropdown color */
@media (max-width: 767px) {
	.navbar-default .navbar-nav > li > a:hover,
	.navbar-default .navbar-nav > li > a:focus
	{
		color: #fff;
	}
}

.dropdown-menu {
	font-family: 'Montserrat', sans-serif;
}

/* footer */
#bottom{
	bottom: 0px; 
	left: 0px; 
	width: 100%;
	height:180px;
	padding:30px;/*Change height and padding to increase footer size*/
	background-color:#333333;
}
#bottomtext{
	margin:0px auto;
	padding:4px;
	text-align:center;
	color:#fffafa;
}


/*
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
*/